#Mandatory Project

Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

In [11]:
# Define list1 and list2
list1 = ['Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob', 'Saritha']
list2 = ['Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai', 'Sarita']

#Create a blank list
common = []

#Create a loop to search in list1 and list 2 ,the common list

for name in list1:
    if name in list2:
        common.append(name)

#Print the required data

print("The common names in two lists are:   ")  

print(common)       

print("Actually this is case sensitive to spellings too, so saritha is excluded)")

The common names in two lists are:
['Mahesh', 'Ali', 'Jacob']
Actually this is case sensitive to spellings too, so saritha is excluded)


Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age. 


Ramesh :  25

Suresh : 22

Mohit : 26

In [10]:
given = "Ramesh Suresh Mohit "

# Split the string into a list of names
list1 = given.split()
print(list1)
# Define scores of student
list2 = [25,22,26]
print(list2)
# combine two lists together
students_marks = dict(zip(list1, list2))
print(students_marks)
# print the results of sum of scores list
print(f'The total marks obtained if all candidates combine together is {sum(list2)}')

['Ramesh', 'Suresh', 'Mohit']
[25, 22, 26]
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}
The total marks obtained if all candidates combine together is 73

Q3: A few students from a university have taken three exams

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25


Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.

In [5]:
# Define the student names and their scores for each test
students = ['Sam', 'Jacy', 'Tom', 'Steve']
python = [25, 26, 29, 28]
statistics = [23, 21, 19, 25]
sql = [29, 27, 28, 25]

# Calculate the mean values for each test
python_mean = sum(python) / len(python)
statistics_mean = sum(statistics) / len(statistics)
sql_mean = sum(sql) / len(sql)

# Find and print the highest mean value and print it
highest_mean = max(python_mean, statistics_mean, sql_mean)
print("The highest mean value is:", highest_mean)

# Find and print the student who scored the highest mark in Python and print their name
highest_python_score = max(python)
highest_python_score_index = python.index(highest_python_score)
student_with_highest_python_score = students[highest_python_score_index]
print(f"The student with the highest mark in Python is: {student_with_highest_python_score}")

The highest mean value is: 27.25
The student with the highest mark in Python is: Tom

Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?

In [6]:
# Define the number of strips and cost per strip for each medicine
paracetamol_strips = 2
paracetamol_cost = 35
azithromycin_strips = 3
azithromycin_cost = 49
vitamin_c_strips = 5
vitamin_c_cost = 33

# Calculating the total cost of each medicine
total_paracetamol_cost = paracetamol_strips * paracetamol_cost
total_azithromycin_cost = azithromycin_strips * azithromycin_cost
total_vitamin_c_cost = vitamin_c_strips * vitamin_c_cost

# Calculating the total cost of all medicines
total_cost = total_paracetamol_cost + total_azithromycin_cost + total_vitamin_c_cost

# Calculate the refund amount
refund_amount = 2000 - total_cost

# Print the results
print(f"Total cost of paracetamol: Rs{ total_paracetamol_cost}")
print(f"Total cost of azithromycin: Rs{ total_azithromycin_cost}")
print(f"Total cost of vitamin C: Rs{ total_vitamin_c_cost}")
print(f"Total cost of all medicines: Rs{ total_cost}")
print(f"Refund amount: Rs{ refund_amount}")

Total cost of paracetamol: Rs70
Total cost of azithromycin: Rs147
Total cost of vitamin C: Rs165
Total cost of all medicines: Rs382
Refund amount: Rs1618

Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [9]:
# Get the input sentence from the user
sentence = input("Enter a sentence: ")

# Define the set of vowels
vowels = {'a', 'e', 'i', 'o', 'u'}

# Initialize a counter for the number of vowels
num_vowels = 0

# Loop through each character in the sentence
for char in sentence:

    # If the character is a vowel, increment the vowel counter
    if char.lower() in vowels:
        num_vowels += 1

# Print the number of vowels in the sentence
print(f"Number of vowels in the sentence: { num_vowels}")

Enter a sentence: Is
Number of vowels in the sentence: 1

Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years. 


For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.

In [8]:
# Get the age of the candidate from the user
age = int(input("Enter your age: "))

# Check if the candidate is eligible for voting
if age >= 18:
    print("Congrats! You are eligible")
else:
    years_to_wait = 18 - age
    print(f"Sorry, you are not eligible to vote. Please come back in {years_to_wait} year.")

Enter your age: 7
Sorry, you are not eligible to vote. Please come back in 11 year.